* {
    padding: 0;
    margin: 0;
}


.runline {
    height: 38px;
    background: url(./img/bg-top-bar-promotion-home-7_2048x.jpg);
    font-family: DM sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 35px;
    display: flex;
    overflow: hidden;
}

#ico {
    color: #ff3232;
}

.runline .rd {
    color: #ff3232;
}

.scroll {
    display: flex;
    gap: 90px;
}

.sc {
    display: flex;
}

.navbar {
    background-color: #161880;
    height: 80px;
}

.nav-link .bi {
    color: #f6b924;
    font-size: 26px;
    font-weight: lighter;
}

.nav-link span {
    color: #f6b924;
    font-size: 18px;
}

.serchb input {
    width: 500px;
    border-radius: 50px;
    border-right: none;
    border-end-end-radius: 0%;
    border-top-right-radius: 0%;
}

.serchb .btn {
    border: none;
    background-color: white;
    border-radius: 50px;
    border-right: none;
    border-end-start-radius: 0%;
    border-top-left-radius: 0%;
}


/* <============================================ NEW NAVBAR ========================================> */

.letest nav {
    line-height: 0px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

.letest .btn {
    font-size: 30px;
}

.letest .logo {
    /* width: 300px; */
    margin: auto;

}

.offcanvas-body h6 {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 35px;
    font-weight: 500;
    font-size: 20px;
}

.offcanvas-body h5 {
    width: 100%;
    height: 50px;
    line-height: 40px;
    background-color: rgb(237, 237, 237);
    font-size: 20px;
}

.offcanvas-body .lang {
    display: flex;
    gap: 20px;
}

.offcanvas-body .lang img {
    width: 30px;
}

.offcanvas-body .lang h4 {
    margin-top: 5px;
    font-size: 22px;
}

.offcanvas-body .currancy {
    display: flex;
    gap: 20px;
}

.offcanvas-body .currancy img {
    width: 27px;
}

.offcanvas-body .currancy h4 {
    margin-top: 5px;
    font-size: 18px;
}

.user {
    line-height: 35px;
}

.user input {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: 1px solid grey;
    padding-left: 10px;
}

.user input::placeholder {
    padding-left: 10px;
}

.d-grid button {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    border-radius: 50px;
}

.d-grid .btn {
    font-size: 22px;
}

.d-grid-2 button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px;
    border: 1px solid grey;
}

.d-grid-2 .btn {
    font-size: 22px;
}

/* <====================================== MENU LINE==============================================> */

.new-bar {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #161880;
    gap: 30px;
    padding-left: 120px;

}

.new-bar h6 a {
    color: white;
    text-decoration: none;
}

.help {
    display: flex;
    gap: 40px;
    margin-left: 24%;
}

.new-bar h5 {
    color: white;
    display: flex;
    font-weight: normal;
    font-size: 16px;
}

.new-bar h6 a:hover {
    color: #fdc224;
}

/*<====================================================== SECTION ONE==========================================> */
.section-one {
    width: 100%;
    height: 480px;
    background: url(./img/home-19-slider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box1 {
    width: 300px;
    margin-left: 190px;
    padding-top: 85px;

}

.box1 h2 {
    font-size: 50px;
    color: white;
    font-family: Rubik;
    font-weight: bolder;
    /* padding-left: 160px; */

}


/* <===================================== AFFRIM =======================================>*/
.line1 {
    background-color: #f6b924;
    font-weight: 600px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

.line1 button {
    background: none;
    border: 2px solid grey;
    padding: 3px;
    font-weight: bold;
}

.line2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    font-size: 20px;
    font-weight: bold;
    color: #070731;
    padding-top: 10px;
}

.line2 i {
    font-size: 30px;
}

.line2 p:hover {
    text-decoration: underline;
}

.line2 a {
    display: flex;
    color: none;
    text-decoration: none;
}

/* <!-- ================================= SECTION TWO ====================================== --> */
.section-two {
    background-color: rgb(232, 243, 253);
    width: 100%;
    height: auto;
}

.ban1,
.ban2 {
    justify-content: center;
    display: flex;
    gap: 40px;
    overflow: hidden;

}

.ban1 img {
    width: 400px;
    height: auto;
    border-radius: 20px;
}

.ban2 img {
    width: 625px;
    height: auto;
    border-radius: 20px;

}

.ban1 img:hover,
.ban2 img:hover {
    transition: all linear 0.4s;
    transform: scale(1.03);
}


/*==================================== Section three ===============================*/

.slide-wrapper img {
    width: auto;
    height: 200px;
    margin: auto;
}

.slide-wrapper ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.slide-wrapper li {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
}

.colo {
    background-color: black;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin: auto;
    margin-top: 1px;
}

#btn1 {
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
}

#btn1:hover {
    background-color: #0a6cdc;
}

p {
    color: black;
}

.slick-slide {
    margin: auto 25px;
}

.content-slider {
    width: auto;
    text-align: center;
}

.slide-wrapper {
    padding: 10px 10px 45px;
}

.slick-prev,
.slick-next {
    display: none !important;
}



/*=============================== Section Four =================================*/
.sfour img {
    width: 100%;
}

#res {
    width: 100%;
    height: 400px;
    display: none;
}

/*================================ Section five ==================================*/
.line-1 ul,
.line-2 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-top: 40px;
    padding: 0;
    flex-wrap: wrap;
}

.line-1 img,
.line-2 img {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.line-1 a,
.line-2 a {
    text-decoration: none;
    color: black;
}
.line-1 li:hover,
.line-2 li:hover{
    text-decoration: underline;
    transition: all linear 0.4s;
    transform: scale(1.03);
}

/* ============================= Section six =================================== */
#boxs-main {
    gap: 17px;
    /* flex-wrap: wrap; */
    justify-content: center;
}

#boxs {
    width: 250px;
    height: 310px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgb(163, 151, 151);
    display: flex;
    align-items: center;
    text-align: center;
}

#bord {
    border: none;
}

#boxs i {
    font-size: 60px;
    background: -webkit-linear-gradient(top, #6822d2 0%, #9f16e0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ============================= Section seven =================================== */

#mobile {
    display: flex;
}

#mobile2 {
    width: 58%;
}

#mobile img:hover{
    transition: all linear 0.4s;
    transform: scale(1.03);
}
/*<============================= Section ten =====================> */

#tel1 {
    width: 99%;
}

#televisions {
    width: 100%;
}

/* <============================ Section Elleven ========================> */

#ele {
    background-image: url(./img/home-19-banner-custom-11_1920x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#ele h2 {
    font-weight: bold;
    font-size: 40px;
}

#ele h5 {
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}

#ele p {
    color: white;
}

#ele a {
    color: white;
}



#vote {
    background-image: url(./img/home-19-banner-custom-11_1920x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#vote h2 {
    font-weight: bold;
    font-size: 40px;
}

#vote h5 {
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}

#vote p {
    color: white;
}

#vote a {
    color: white;
}

#vote {
    display: none;
}

#vote img {
    width: 30%;
    height: 30%;
}

/* ================================= Footer ================================ */

#subs {
    text-align: center;
}

footer {
    background: #f5f5f5;
}

.sub input {
    width: 450px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid grey;
    padding-left: 20px;
}

.sub button {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid grey;
    background: #161880;
    color: white;
    font-size: 20px;
}

#list li {
    list-style: none;
    font-size: 15px;
    line-height: 35px;
    color: #505050;
}

#list img {
    width: 200px;
    height: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

#list li i {
    font-size: 22px;
}

#li h5 {
    font-weight: bolder;
    font-size: 20px;
    font-family: Rubik;
    color: black;
}

#limg {
    display: flex;
    justify-content: center;

}

#icons {
    display: flex;
    gap: 10px;
}

#icons li {
    width: 40px;
    height: 40px;
    background-color: #4b4b4b;
    border-radius: 50%;
    text-align: center;
}

#icons li i {
    color: white;
}

#copy{
  color: #505050;
    margin-top: 40px;
}

a{
    overflow: hidden;
    border-radius: 20px;
}